$item-width: 262px;
$item-height: 285px;
$item-image-height: 230px;
$image-max-width: 200px;

$product-name-color: #746A6A;
$product-price-color: #3486E6;

@import 'mixin.scss';
@import 'select.scss';
@import 'cart.scss';

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 627px;
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 55px;
  padding-left: 35px;
  padding-right: 35px;
}

.content {
  width: calc(100% - 292px);
  max-width: 847px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 15px;
  justify-content: space-between;

  @include respond-to(mobile) {
    flex-flow: column wrap;
    align-items: center;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 600;
    line-height: 38px;

    @include respond-to(mobile) { margin-bottom: 15px; }
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin-top: -10px;
  margin-left: -15px;
  margin-right: -15px;

  @include respond-to(mobile) {
    justify-content: center;
  }
}

.product {
  width: $item-width;
  height: $item-height;
  margin: 25px 15px;

  .image-container {
    height: $item-image-height;
    background-color: #eee;
    text-align: center;
    padding: 25px 0;
    box-sizing: border-box;
    border-radius: 3px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &__name {
    text-align: center;
    color: $product-name-color;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 0;
    margin: 0;
  }

  &__price {
    text-align: center;
    color: $product-price-color;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
  }

  &__add-to-cart {
    padding-top: 27px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: $product-price-color;
  }
}
