$item-width: 260px;
$item-height: 285px;
$item-image-height: 230px;
$image-max-width: 200px;

$product-name-color: #726a6a;
$product-price-color: #4787df;

$break-small: 425px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content;}
  }
  @else if $media == desktop {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin-top: -10px;
  margin-left: -15px;

  @include respond-to(mobile) {
    justify-content: center;
  }
}

.product {
  width: $item-width;
  height: $item-height;
  margin: 25px 15px;

  .image-container {
    height: $item-image-height;
    background-color: #eee;
    text-align: center;
    padding: 25px 0;
    box-sizing: border-box;
    border-radius: 3px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &__name {
    text-align: center;
    color: $product-name-color;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 0;
    margin: 0;
  }

  &__price {
    text-align: center;
    color: $product-price-color;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
  }

  &__add-to-cart {
    padding-top: 27px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: $product-price-color;
  }
}
